
body {
  background: linear-gradient(180deg, rgba(210, 247, 238, 0) 82.08%, rgba(214, 255, 245, 0.38) 100%);
  margin: 0;
  height: 100vh;
}
.page {

  width: 1008px;
  margin: 0px auto 30px;
  padding-top: 65px;
}
header {
  display: flex;
  align-items: center;
  margin: 0 auto 58px;
  padding: 0;
  justify-content: space-between;
}

ul {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
  list-style: none;
}

ul li a {
  opacity: 0.5;
  text-decoration: none;
  color: #1F1534;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

.hero {
  margin: 0 auto 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 102px;
}

.footer {
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}

.footer a {
  color: #000000;
  text-decoration: none;

}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  font-weight: 400;
  color: #000000;
}

h1 span {
  font-weight: 700;
  color: #89C5CC;
}

button {
  font-family: 'Open Sans', sans-serif;
  color: #F9F9F9;
  
  border: none;
  background: #69B99D;
  border-radius: 4px;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 32px 14px;
  margin-top: 40px;
}

button:hover {
  background-color: #38a37e;
}